
<ion-header>
  <ion-navbar color = "primary">
    <ion-title><ion-searchbar [(ngModel)]="nom" (ionInput)="getItems($event)"></ion-searchbar></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item *ngFor = "let glossaire of glossaires">
      {{glossaire.nom}}
      <p>{{glossaire.definition}}</p>
    </ion-item>
</ion-content>
