<ion-header>
    <ion-navbar mode="ios" color="primary">
        <ion-title mode="ios">
            Leçon {{num_lesson}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div padding>
        <h5>Objectifs</h5>
        <p [innerHTML] = "objetif_lesson"></p>
    </div>
    <div margin>
        <button ion-button class="btn" color="primary">Commencer la leçon</button>
    </div>
    <ion-list *ngFor = "let partie of Parties">
        <ion-item>
        <div item-start class="contentimg">
            <img src="assets/icon/icons8-drapeau-2-16.png" alt="">
        </div>
        <h2>Partie {{partie.numero}} - {{partie.titre}}</h2>
        <ion-icon md="ios-arrow-forward" item-end ></ion-icon>
    </ion-item>
    <div  *ngFor = "let souspartie of sousparties; let i = index" margin-top  >
        <div *ngIf = "partie.id == souspartie.id_partie_lesson">
          <div id = "lesson" (click) ="showlesson(i)">
            <p>{{souspartie.numero}}.{{souspartie.titre}}</p>
          </div>
        </div>
    </div>
    </ion-list>
</ion-content>
