page-lesson {
    .toolbar-ios-primary .toolbar-title-ios,
    .toolbar-ios-primary .bar-button-clear-ios,
    .toolbar-ios-primary .bar-button-default-ios {
        p {
            margin: 5px;
        }
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white!important;
    }
    .toolbar-ios ion-title {
        padding: 0;
    }
    .contentimg {
        height: 30px;
        width: 30px;
        display: flex;
        background: #3aace9;
        flex-direction: column;
        justify-content: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    #lesson {
        // display: none;
        margin-left: 50px;
        min-height: 10px;
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
    h5 {
      color:#777;
    }
    p{
      color:#777;
      &:first-letter {
        text-transform: uppercase;
      }
    }
}
