<ion-header>
    <ion-navbar mode="ios" color="primary">
        <ion-title mode="ios">dashboard</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click) = "log_out()">
              <ion-icon md="md-log-out"></ion-icon>
            </button>
          </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <h1>{{lessonsRestantes}}</h1>
                    <p>lecons a lire</p>
                    <ion-icon name="bookmarks" item-end></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <h1>{{progress}}%</h1>
                    <p>progression</p>
                    <ion-icon item-end><img src="assets/icon/icons8-en-cours-30.png" alt=""></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <h1 *ngIf = "!note">0</h1>
                    <h1>{{note}}</h1>
                    <p>note moyenne</p>
                    <ion-icon item-end><img src="assets/icon/score.png" style="width: 25px;" alt=""></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <h1>{{iscertified}}</h1>
                    <p>certificat</p>
                    <ion-icon item-end><img src="assets/icon/icons8-diplôme-1-30.png" alt=""></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item>
        <h2>Cours</h2>
    </ion-item>
    <ion-list>
        <ion-row *ngFor = "let teaching_sequence of teaching_sequences let i = index" (click)="showlistlesson(i)">
            <ion-col>
                <p>{{teaching_sequence.nom}}</p>
                <p>{{teaching_sequence.date_creation | date:'dd/MM/yyyy'}}</p>
            </ion-col>
            <ion-col>
                <p text-center>{{teaching_sequence.numero}}</p>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
