page-dashboard {
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white!important;
    }
    .grid {
        .item-md.item-block .item-inner {
            border: 1px solid #f3f3f3!important;
            padding: 5px;
        }
        ion-icon {
            color: #7f8c8d;
        }
        .item-md {
            box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1)!important;
            padding-left: 0;
        }
    }
    .progression {
        width: 95%;
        height: 20px;
        background: rgb(224, 224, 224);
        border-radius: 10px;
        padding-top: 2px;
        margin-top: 7px;
        text-align: center;
        &:before {
            content: "";
            position: absolute;
            width: 30%;
            height: 20px;
            background: #007bff;
            margin-left: -60px;
            margin-top: -2px;
            border-radius: 10px 0 0 10px;
        }
    }
    ion-list {
        .row {
            border-bottom: 1px solid #f3f3f3;
        }
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                margin: 5px;
            }
        }
    }

    
}
