<ion-header>
    <ion-navbar mode="ios" color="primary">
        <ion-title mode="ios">Liste des leçons</ion-title>
        <ion-buttons end (click) = "showmore()">
          <button ion-button icon-end color="royal">
            <ion-icon name="more"></ion-icon>
          </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <h2>Liste des leçons</h2>
    </ion-item>
    <ion-list>
        <ion-card *ngFor = "let list_lesson of list_lessons let i=index">
            <img data-src="{{Urlimage}}/{{list_lesson.thumbnail}}" alt="">
            <ion-card-content>
                <button class="btn" ion-button clear color="primary">Leçon {{list_lesson.numero}}</button>
                <p>{{list_lesson.titre}}</p>
                <button ion-button color="primary" margin-top (click)="showlesson(i)">voir la leçon</button>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
