page-list-lesson {
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: white!important;
    }
    .icon{
      font-size: 30px;
    }
    ion-card {
        img {
            height: 120px;
            object-fit: cover;
        }
        .btn {
            box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            position: relative;
            margin-top: -45px;
            margin-bottom: 10px;
            background: white;
            text-transform: none;
            z-index: 1000;
        }
    }
}
