page-home {
    .content-img {
        height: 80px;
        width: 80px;
        display: block;
        position: relative;
        top: -200px;
        margin: 0px auto 10px auto;
        border: 1px solid #f3f3f3;
        border-radius: 15px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    .header {
        height: 40%;
        background: linear-gradient(#3aace9, #3393c7);
        &:after {
            content: "";
            width: 100%;
            height: 100px;
            position: absolute;
            background: #fff;
            top: 30%;
            // transform-origin: top right;
            transform: skewY(-10deg);
        }
    }
    .sign-up {
        position: relative;
        top: -150px;
        width: 90%;
        margin: 0 auto;
        background: #fff;
        border-radius: 7px;
        border: 1px solid #eee;
        box-shadow: -1px 0 10px rgba(0, 0, 0, 0.1);
    }

    .error {
      color : rgb(187, 82, 82);
      margin-left: 16px;
      padding-top: 4px;
    }
}
