<ion-content>
    <div class="header"></div>
    <div class="content-img">
        <img src="/assets/imgs/logo-microdic.png" alt="">
    </div>
    <div padding class="sign-up">
      <form  (ngSubmit)= "authentification()" [formGroup] = "formdata">
        <ion-item>
            <ion-label floating>Entrer votre email</ion-label>
            <ion-input formControlName = "email" type="email" ngModel></ion-input>
        </ion-item>
         <div class = "error" *ngIf = "errorMessages">
          {{errorMessages.email}}
        </div>
        <ion-item>
            <ion-label floating>Entrer votre mot de passe</ion-label>
            <ion-input formControlName = "password" type="password" ngModel></ion-input>
        </ion-item>
        <div class = "error" *ngIf = "errorMessages">
          {{errorMessages.password}}
        </div>
        <div class = "error" *ngIf = "errorMessages">
          {{errorMessages.authentication}}
        </div>
        <button ion-button block margin-top round type = "submit">se connecter</button>
      </form>
    </div>
</ion-content>
