
<ion-header>
  <ion-navbar color ="light">
    <ion-title>Ressources de la partie</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngFor = "let media of medias; let i = index">
      <ion-item (click) = "getmedia(i)"><p>{{media.titre}}</p></ion-item>
    </ion-list>
</ion-content>
