page-contentlesson {
   .bar-button-default-md,
   .bar-button-clear-md-default,
   .bar-button-md-default {
     color: white !important;
   }
   .icon {
     font-size: 30px;
   }
   p{
     color:rgb(59, 59, 59);
   }
   h5{
     margin-top: 25px!important;
     padding-left: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 30px;
     background: #eee;
     font-weight: 400;
   }
   h6{
     font-weight: 400;
   }
   .item-wp {
     height: 20px!important;
     margin-top: 5px!important;
   }
   .item-block .item-inner {
     border-bottom: none !important;
   }

   .button-md{
     display: block;
     margin: 0 auto;
   }
   .success {
     background: rgb(87, 168, 97);
     color:rgb(238, 253, 241);
   }
   .danger {
     background: rgb(206, 72, 48);
     color:rgb(238, 253, 241);
   }
}
