
<ion-header>
 <ion-navbar mode="ios" color="primary">
        <ion-title mode="ios">{{souspartie.titre}}</ion-title>
        <ion-buttons end (click) = "showmore()">
          <button ion-button icon-end color="royal">
            <ion-icon name="more"></ion-icon>
          </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <p [innerHTML] = "contenu_souspartie">

  </p>
  <ion-list margin-top *ngFor = "let exercice of exercices; let indexExercice = index">
    <h5>exercice {{exercice.numero}}</h5>
    <ion-card padding class = "danger" *ngIf = "exercice.pourcentage_reussite > pourcentage_trouver">
      Exercice non validé {{note}} / {{noteTotal[exercice.id]}}
    </ion-card>
    <ion-card class="success" padding *ngIf = "exercice.pourcentage_reussite <= pourcentage_trouver">
      Exercice validé avec {{note}} / {{noteTotal[exercice.id]}}
    </ion-card>

    <form (ngSubmit)="sendReponse(indexExercice)" [formGroup]="dataReponse">
      <div formArrayName="questionsRadio">
        <ion-list *ngFor = "let question of exercice.questions; let i = index" [formGroupName]="i">
          <h6>{{exercice.questions[i].enonce}}</h6>
          <span *ngIf = "question.is_multiple_reponse == 0">
              <ion-list radio-group formControlName="radio_id_choice" >
                <ion-item mode= "wp" *ngFor = "let choice of question.choices;let indexChoice = index" (ionChange)="select(indexChoice)">
                  <ion-label mode= "wp" >{{choice.enonce}}</ion-label>
                  <ion-radio [checked] = "checked_question[i] == question.id && checked_choice[choice.id] == choice.id" [disabled]="exercice.pourcentage_reussite <= pourcentage_trouver || exercice.pourcentage_reussite <= pourcentage_trouver && choice.is_right_choice "
                  value = "{{choice.id}}" (ionSelect)="select(indexExercice,i,indexChoice)"  mode= "wp" value="{{choice.id}}" ></ion-radio>
                </ion-item>
              </ion-list>
          </span>
          <span *ngIf = "exercice.questions[i].is_multiple_reponse == 1">
              <ion-item *ngFor = "let choice of question.choices;let indexChoice=index;">
                <ion-label>{{choice.enonce}} {{checked_ch}}</ion-label>
                <ion-checkbox  [disabled]="exercice.pourcentage_reussite <= pourcentage_trouver || exercice.pourcentage_reussite <= pourcentage_trouver && choice.is_right_choice "
                formControlName = "checkbox_choice" [checked] = "checked_question[i] == question.id && checked_choice[choice.id] == choice.id"
                (ionChange)="select(indexExercice,i,indexChoice)" ></ion-checkbox>
              </ion-item>
          </span>
        </ion-list>
      </div>
      <button [hidden]="exercice.pourcentage_reussite <= pourcentage_trouver" [disabled]="nberofquestionChecked<nberofquestion" type = "submit" ion-button color = "primary" block>Valider</button>
    </form>
  </ion-list>
  <button margin-top [hidden]="exercices" (click) = "terminer()" ion-button color = "primary" block>Terminer</button>
</ion-content>
