
<ion-header>
 <ion-navbar mode="ios" color="primary">
 <ion-buttons start>
    <button icon-only ion-button left class="loginnavbtn" (click)="goback()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <!-- left aligned content here -->
    </ion-buttons>
    <ion-title mode ="ios">Liste des leçons</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
      <h6>Objectifs</h6>
      <p text-left [innerHTML] = "objectifs"></p>
    </ion-row>
    <ion-row>
      <h6>Situation de vie</h6>
      <p text-left [innerHTML] = "situation_vie" ></p>
    </ion-row>
    <ion-row>
      <h6>Evaluation diagnostique</h6>
      <p text-left [innerHTML] = "evaluation_diagnostique" ></p>
    </ion-row>
    <div text-center margin-top>
      <button ion-button color ="primary" (click) = "showlesson()">Voir les leçons</button>
    </div>
</ion-content>
