page-teaching-sequence {
     .bar-button-default-md,
     .bar-button-clear-md-default,
     .bar-button-md-default {
       color: white !important;
     }
     h6{
       width: 100%;
        color:rgb(24, 24, 24);
        padding:5px 0 0 10px;
        height: 30px;
        // border-radius: 3px;
        background: #eee;
        font-weight: 400;
      //  border-bottom: 1px solid #f3f3f3;
     }

     p{
       color:rgb(66, 66, 66);
       margin-top: 0px;
       margin-bottom: 7px;
       font-size: 16px;
       line-height: 1.2p;
     }
}
